<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BarcodePrint.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BarcodePrint.My.MySettings>
            <setting name="Baseurl" serializeAs="String">
                <value>http://lferp.info/api/v1/Products/ListProduct</value>
            </setting>
            <setting name="AuthCode" serializeAs="String">
                <value>dummykey</value>
            </setting>
            <setting name="DPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="PnameLeft" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PnameTop" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PnameLimit" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BarcodeLeft" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BarcodeTop" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="PrintName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrintRate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PnameCenter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RateLeft" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RateTop" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="RatePrefix" serializeAs="String">
                <value>AED</value>
            </setting>
            <setting name="BarcodeWidth" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="BarcodeHeight" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="StickerWidth" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="StickerHeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BarcodeGenrateMode" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="LastBarcode" serializeAs="String">
                <value>110000</value>
            </setting>
            <setting name="BarcodeNCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BarcodePrefix" serializeAs="String">
                <value>LF</value>
            </setting>
            <setting name="BarcodeSuffix" serializeAs="String">
                <value />
            </setting>
            <setting name="CsvPrinter" serializeAs="String">
                <value />
            </setting>
        </BarcodePrint.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>